* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}


header {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #003399;
}

.logo span {
    color: #ff6600;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a.active {
    color: #ff6600;
}

.post-btn {
    background: #ff6600;
    padding: 6px 12px;
    border-radius: 5px;
    color: white !important;
}


.search-box {
    background: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

.search-box input {
    width: 250px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.search-box button {
    padding: 9px 20px;
    margin-left: 10px;
    background: #002bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.history-btn {
    margin-top: 10px;
    color: #ff6600;
    font-weight: bold;
}


.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.product-card {
    background: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100px;
    margin-bottom: 10px;
}

.product-card .price {
    font-weight: bold;
    margin: 5px 0;
    color: #ffa500;
}

.product-card .days {
    font-size: 13px;
    color: gray;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #fff;
}

footer a {
    color: #003399;
}

picture card{
    display: flex;
    justify-content: center;
    
}